실습 예제 답

W2. Numbers and String

In [1]:
#1.  
a = 80 #국어
b = 72 #영어
c = 94 #과학
(a+b+c)/3

82.0

In [4]:
#2
print('"Hello." he said.')
print('''"Hello." he said.''')
print(""""Hello." he said.""")

"Hello." he said.
"Hello." he said.
"Hello." he said.

In [ ]:
#3-1

sent1 = "My friend\'s brother said \"hi\" to me."
print(sent1)

In [ ]:
#3-2

sent2 = 'Mori\'s favorite food is mango'
print(sent2)

In [ ]:
#4
a="저는"
b=" 이윤경입니다"
a+b

In [ ]:
#5
b = "9"
b*3

In [ ]:
#6
c = """기상청은 눈이 그치면 정월대보름 달을 볼 수 있을 것으로 전망했습니다. 
오후에 잠시 해가 들기도 했는데 저녁부터는 전국에 또 먹구름이 짙게 끼는 곳이 많이 있습니다."""
len(c)

W3 String_Expression_Methods_and_Formatting

In [ ]:
#1
a = "20190221Week2Note"
date = a[:8]
week = a[8:13]
note = a[-4:]
print(date)
print(week)
print(note)

In [ ]:
#2-1
pin = "790708-1849231"
pin_birth = pin[:6]
pin_rest = pin[7:]
pin_birth

In [ ]:
#2-2
pin[7]

In [ ]:
#3
"I went to the gym {a} times with {b} last week".format(3, friend = "Tom")

In [ ]:
#4-1

j = "A:Journal:of:Experimental:Psychology"
j.replace(":"," ")

In [ ]:
#4-2

paper = "A recent article in the Psychonomic Society’s journal Attention, Perception, & Psychophysics explored the mechanisms underlying this spreading of sparing to positions beyond lag 1. Researchers Manuel Petrucci and Anna Pecchinenda departed from the observation in the literature that performance on T1 is better when it is an emotional stimulus—such as an emotional word or face—than when it is neutral. An emotional T1 also magnifies the attentional blink by further reducing detection performance on T2. Conversely, if T2 is itself an emotional stimulus, the attentional blink is reduced. Both of these findings are readily explained within a “limited-resource” account on which an emotional word attracts additional attention that is then unavailable for processing elsewhere. On the resource account, processing of a negatively-valenced T1 should consume additional attention that boosts T1 performance but to the detriment of both T2 and T3. By contrast, if resource-limitations are not the driving factor underlying the attentional blink, then the fact that all three targets are identified by the same color might enable them to be subsumed within the same attentional episode, thus sparing them from the attentional blink. Indeed, performance on T2 and T3 might even be enhanced on this account if T1 is an emotional word because it leads to particularly vigorous processing of the attentional episode. The results confirmed that the negatively-valenced T1 was detected with significantly greater accuracy than the neutral T1, although the difference was slight (88.3% vs. 86.5%). This confirms that the valence manipulation was successful and it is what would be expected under either account. The more intriguing outcome is shown in the next figure which plots performance on T3 conditional on correct report of T1 and T2."

t1count = paper.count("T1")
t2count = paper.count("T2")
print(t1count) #숫자 확인

target1 = paper.replace("T1","Target1")
target2 = paper.replace("T2","Target2")

print(target2.count("Target2")) #대치 확인

W4 List_Tuple_Dictionary_Set

실습 1.

In [7]:
#1
multiple = [1,2,3,['my','name','is','Yoon']] #list안에 list포함시키기
print(multiple[0])
print(multiple[1])
print(multiple[-1])

1
2
['my', 'name', 'is', 'Yoon']

In [8]:
#2
print(multiple[-1][-1])#multiple list의 마지막 리스트의 첫번째

Yoon

In [9]:
#3

cafe = ["seoul", "daejeon", [100, 120, ["Ediya", "Starbucks"]]]
cafe[-1][-1][-1]

'Starbucks'

In [12]:
#4

myplace = ["TX", ['Houston', 'Chicago'], ["30181", "US"]]
mycity = myplace[1]
mycode = myplace[-1][0]
print(mycity)
print(mycode)

['Houston', 'Chicago']
30181

실습 2.

In [13]:
#1 
t1 = (4,5,6,"me","yoon")

In [15]:
#2
t1[0]

4

In [16]:
#3
t1[-1]

'yoon'

In [17]:
#4
t1*5

(4,
 5,
 6,
 'me',
 'yoon',
 4,
 5,
 6,
 'me',
 'yoon',
 4,
 5,
 6,
 'me',
 'yoon',
 4,
 5,
 6,
 'me',
 'yoon',
 4,
 5,
 6,
 'me',
 'yoon')

In [18]:
#5
t1[1] = "green tea"

TypeError: 'tuple' object does not support item assignment

실습 3.

In [27]:
#1
set1= {45, 62, 24, 22, 110}

In [28]:
#2
set2 = {52, 25, 45, 110, 111}

In [29]:
#3
set1 & set2

{45, 110}

In [30]:
#4
set1 | set2

{22, 24, 25, 45, 52, 62, 110, 111}

In [31]:
#5
set2 - set1
#or set1-set2

{25, 52, 111}

In [32]:
#6
set1.add(220)

In [33]:
#7
set2.update([220,221,222])

In [34]:
#8
set2[1] #unordered 자료형, 인덱싱을 지원하지 않음.

TypeError: 'set' object does not support indexing

W5. Loop

In [35]:
#1
#Program to add natural
# numbers upto 
# sum = 1+2+3+...+n
# To take input from the user,
# m = int(input("Enter m: "))

m = int(input("Enter m: "))
add_number = 0 # initialize sum and counter
i = 1

while i <= m:
    add_number = add_number + i
    i = i+1    # update counter

# print the sum
print("The total is", add_number)

Enter m: 10
The total is 55

In [ ]:
#2-1

bsk = ['사과', '사과', '배', '바나나', '바나나', '배', '배', '딸기', '수박', '배']

for e in bsk :
    print(e)

In [ ]:
#2-2

cnt = 0
for e in bsk :
    print(e)
    if e == '배' :
        cnt = cnt + 1
        if cnt%2==0 :
            print("-- 2+1 행사 중입니다! 배 하나 더 드려요~")

W6. Functions_and_files

In [36]:
#1
def countdown(n):
    a=n
    while a>= 0:
        print(a,end=" ")
        a=a-1
        
countdown(9)

9 8 7 6 5 4 3 2 1 0

In [ ]:
#2
def signal(word) :
    if word == 'signal' :
        return '보내'
    else :
        return word

In [ ]:
s = input("입력 : ")
r = signal(s)
print("출력 : %s" %(r))

In [ ]:
#3. 
with open("test.txt", 'w') as f :
    f.write("Life is too short")

with open("test.txt", 'r') as f :
    print(f.read())

In [ ]:
#4. 
with open("sample.txt", 'w') as f :
    for n in [70, 60, 55, 75, 95, 90, 80, 80, 85, 100] :
        f.write(str(n)+"\n")

In [ ]:
%cat sample.txt

In [ ]:
#5. 
with open("sample.txt", 'r') as f :
    num_list = []
    for line in f :
        num = int(line.strip())
        num_list.append(num)
        
print(num_list)
total = sum(num_list)
print(total)
n_total = len(num_list)
print(n_total)
avg = total / n_total
print(avg)

In [ ]:
with open("sample.txt", 'a') as f :
    f.write("-----\n")
    f.write(str(total)+'\n')
    f.write(str(avg)+'\n')

In [ ]:
%cat sample.txt

W7 Class

W8 Numpy_and_Pandas_Quick_Intro

In [ ]:
import pandas as pd
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
sp = pd.DataFrame(data)

In [ ]:
#1.
sp.describe

In [ ]:
#2.
sp['state'].describe()

In [ ]:
#3.
sp.dtypes

In [ ]:
#4.
sp['state'].tolist()

In [ ]:
#5.
sp['state'].unique()

In [ ]:
#6.
sp['pop'].mean()

In [ ]:
#7.
sp['pop'].max()

In [ ]:
#8. 
sp['pop'].quantile(.2)

In [ ]:
#9.
sp['state']=='Ohio'

In [ ]:
#10. 
sp[sp['state']=='Ohio']

In [ ]:
#11.
new = sp[sp['state']=='Ohio']
new

In [ ]:
#12.
sp[sp['pop']>2]

In [ ]:
#13.
sp[sp['state']=='Ohio']['pop'].mean()

In [ ]:
#14.
sp.loc[2,'pop'] = 3.4
sp