# W2
# Numbers and String

## 0. error message 판독

In [2]:
message = "Hello everyone!"
print(mesage)

NameError: name 'mesage' is not defined

``` 
1. <ipython-input-2-2cae4b4b5bbe> in <module>() <- 'ipython'환경에서 에러가 발생함. 파이썬 파일(e.g., hello_world.py)을 실행했을 경우, 
                                           
    File "hello_world.py", line 2, in <module> 라는 오류 메세지 출력 
    
2. print(mesage) <- 오류가 발생한 지점

3. NameError <- 오류 타입과 내용

```

NameError는 변수를 정의하지 않았거나 잘못 정의한 경우 (예: 오타) 발생하는 오류이다.

### 1. Numbers (숫자형)

Number is a series of numbers

1.1 숫자형 종류

|항목| 예시|
|----|----|
|정수|123,-345,0|
|실수|123.45, 3.4e10|
|8진수|0o34, 0o25|
|16진수|0x2A,0xFF|

### 2. 숫자형 연산

2.1 사칙연산

In [78]:
a = 3
b = 5

In [80]:
print(a + b)
print(a * b)
print(a / b)

8
15
0.6

2.2. 제곱승

In [82]:
a = 3
b = 2
a ** b

9

2.3. 나눗셈 후 나머지

In [83]:
5 % 2

1

In [84]:
2 % 5

2

2.4. 나눗셈 후 몫

In [85]:
7/4 #보통의 나눗셈 값

1.75

In [86]:
7//4 #몫 반환 (정수만)

1

## 2. String (문자열)

#### a _string_ is a series of characters

### 2.1. 사용 방법

#### a. 예시 

"Life is too short, You need Python" <br>
"안녕하세요" <br>
'1' <br>
'20190104' <br>
"bevmr" <br>

#### b. 표기 방법

총 4가지 방법이 있다.

In [5]:
#1. 큰 따옴표("")
"Life is too short, You need Python"

'Life is too short, You need Python'

In [6]:
#2. 작은 따옴표('')
'관악산'

'관악산'

In [7]:
#3.큰 따옴표 3개 (""" """)
"""1979년 7월 10일"""

'1979년 7월 10일'

In [8]:
#4. 작은 따옴표 3개 (''' ''')
'''Seoul'''

'Seoul'

### 2.2 문자열 오류 (Syntax Error)

문자열 안에도 작은 따옴표나 큰 따옴표가 필요할 경우가 있다.
그럴 때는, 서로 다른 표기를 사용해야한다. 

예를 들어, 
'That's awesome'이라는 문장을 출력하려고 해보자.

In [10]:
'That's awesome

SyntaxError: invalid syntax (<ipython-input-10-a1191f5d71bb>, line 1)

#### a. 따옴표  
SyntaxError 없이 문장을 출력하고자 한다면 아래와 같이 다른 종류의 따옴표를 사용하면 된다.

In [11]:
"That's awesome"

"That's awesome"

#### b. 백슬래시

\(백슬래시-윈도우의 경우 원화기호로 나옴)를 사용. 
백슬래시를 작은 따옴표나 큰따옴표 앞에 넣으면 백슬래시 뒤의 작은 따옴표나 큰따옴표는
문자열을 둘러싸는 기호의 의미가 아닌 문자 ('',"") 그 자체로 인식하게 됨.

python 3.x버전일 경우 변수 그대로 출력하면 "\"이 그대로 출력될 수 있음. print()를 활용하면 됨.

In [30]:
a1 = "My friend\'s car"
a2 = "My friend's car"

b1 ="\"Hello.\" he said"
a1

"My friend's car"

#### c. 여러 문자열

1) 줄바꿈(이스케이프) 코드  ``` \n ```

In [68]:
n = "Life is too short\n You need Python"
print (n)

Life is too short
 You need Python

2) 연속 작은 따옴표 3개(''') 또는 큰 따옴표 3개(""")

In [66]:
a = """ 
    Life is too short
    You need Python
    """
print(a)

### 2.3. Escape Code

| 코드 | 설명 |
|-----|:----:|
| \n  |	개행(줄바꿈)|
|\t	  |수평 탭 |
|\\   |	문자"\"|
|\'	| 단일 인용부호(')|
| \"|이중 인용부호(") |
| \r|캐리지 리턴|
| \f|폼 피드|
|\a	|벨 소리|
|\b	|백 스페이스|
|\000|널문자|

주로 \n, \t, \\, \', \"이 많이 쓰임

### 2.4 String 연산

a. concatenation

문자열 더 해서 연결하기

In [74]:
a = "You are"
b = " the best!"
a + b

'You are the best!'

b. multiplication
문자열 곱하기

In [76]:
b = "spain"
b*3 #여기서 *는 단순 곱하기라기보단 반복하라는 의미임

'spainspainspain'

c. 문자열 길이 구하기

In [77]:
c = "Life is too short"
len(c)

17

## 실습

1. 
M군의 시험 결과 점수는 다음과 같이 나왔다. 

|과목|점수|
|---|---|
|국어|80|
|영어|72|
|과학|94|

M군의 평균점수를 구하세요

2. 다음의 문장을 오류 없이 출력해보세요 
<br>
"Hello." he said.

3. 다음 문장을 백슬래시를 사용하여 출력해보세요

(1) My friend's brother said "hi" to me.<br>
(2) Mori's favorite food is mango

4. 아래 어절을 각각 a와 b에 할당하고, 각 변수를 합쳐서 문장으로 만들어보세요.
 저는 + (이름)입니다.

5. 9를 3번 반복하여 출력해보세요

7. 아래 문장의 문자열 길이를 구하세요. 

"기상청은 눈이 그치면 정월대보름 달을 볼 수 있을 것으로 전망했습니다. 오후에 잠시 해가 들기도 했는데 저녁부터는 전국에 또 먹구름이 짙게 끼는 곳이 많이 있습니다."