# W 3

# String Expression, Methods, and Formatting
#### YK Lee
#### 2019 Spring

### 1. 문자열 인덱싱

인덱싱(indexing) = 가리킴

예제 1.  다음과 같은 문자열이 있다고 보자. 

"Life is too short, You need Python"

이 문자열의 각 문자마다 번호(주소값)를 매겨보면 다음과 같이 나옴. 

|L|i|f|e| |i|s| |s|h|o|r|t|
|-|-|-|-|-|-|-|-|-|-|-|-|-:|
|0|1|2|3|4|5|6|7|8|9|10|11|12|

파이썬은 숫자 0부터 숫자를 센다.

a. 문자열 인덱싱하기

문자열을 인덱싱하는 방법은 변수+[번호]를 입력하면 된다.

In [5]:
a = "Life is too short, You need Python"
#a[0]
#a[2]
#a[-2]
a[13] #0과 같다

'h'

### 2. 문자열 슬라이싱

문자열에서 단순히 한 문자만을 뽑아내는 것이 아니라 'Life' 또는 'You'같은 단어들을 뽑아내는 방법

#### 1. 인덱싱 연산

In [24]:
a = "Life is too short, You need Python"

In [7]:
a[0]

'L'

In [8]:
a[1]

'i'

In [9]:
b = a[0]+a[1]+a[2]+a[3]
b

'Life'

#### 2. 슬라이싱

슬라이싱(slicing) = 잘라냄

1. 끝 번호는 생략하여 출력한다

In [10]:
a[0:3]

'Lif'

슬라이싱은 변수[시작번호:끝번호] 로 한다. 

여기서 끝 번호에 해당하는 인자값은 포함하지 않는다. half-open interval이라고도 불린다. 

a[0:3]을 수식으로 나타내면 다음과 같다. 

``` 
0 <= a <3

```

이 수식을 만족하는 a의 인자값은 a[0], a[1], a[2]이고, a[0:3]은 'Lif'가, a[0:4]은 'Life'가 되는 것임.

2. 공백 역시 문자열이므로 인덱싱 및 슬라이싱의 대상이 된다

In [ ]:
a[0:5]

'life'와 'life '는 완전히 다른 문자열임을 주의**

3. 문자열의 요소값은 immutable한 자료형이기 때문에 슬라이싱 한 것을 임의의 다른 문자열로 대체할 수 없다.

In [11]:
a = "Flower"
a[0]

'F'

In [15]:
a[0] = 'f' #이렇게 대체할 수 없다. 오류메세지가 뜸. 
a = 'f'
a =a[0]
print(a)

F

In [19]:
#대안 1
a = "Flower"
#a[:0]
#a[1:]
#a[:0] + 'f' + a[1:]

a. 끝번호 생략하여 끝까지 슬라이싱

In [25]:
a[5:]

'is too short, You need Python'

b. 시작번호 생략하여 처음부터 슬라이싱

In [26]:
a[:5]

'Life '

c. 문자열의 처음부터 끝까지 슬라이싱

In [27]:
a[:]

'Life is too short, You need Python'

d. 슬라이싱도 인덱싱과 마찬가지로 마이너스(-) 기호 사용

In [29]:
#a[19:-7]
a[-1]

'n'

## 3. 문자열 포매팅 (Formatting)

문자열 내에 어떤 값을 대체하는 방법임. 

예를 들어, 아래와 같이 일부 숫자나 문자만 다르고 나머지가 반복되는 형태의 문장이라고 보자. 

예1. 

a. 오늘 서울의 최고 기온은 <b>26</b>도 입니다.

b. 오늘 서울의 최고 기온은 <b>30</b>도 입니다. 


예2. 

a. <b>benzlover123</b>님 회원가입 신청이 완료되었습니다.  

b. <b>mymoo0710</b>님 회원가입 신청이 완료되었습니다. 

이럴 때, 반복되는 문장을 일일이 다 입력하는 것은 수고로우니, 그 중 반복되지 않는 일부분만 대체하고자할때 쓰는 방법이 문자 Formatting이다. 이때, <b>문자열 포맷 코드</b>를 활용한다.

### 3.1. 문자열 포맷 코드

|코드|설명             |
|---|:---------------:|
|%s |  문자열(String)|
|%c| 문자1개(character)|
|%d|정수(Integer)|
|%f|부동소수(floating-point)|
|%o|8진수|
|%x|16진수|
|%%|Literal%(문자%그대로)|

a. 숫자 대입

In [38]:
a = "지난 주 등록한 회원 수는 총 %d명 입니다" %10

In [39]:
a

'지난 주 등록한 회원 수는 총 10명 입니다'

b. 문자열 대입

In [43]:
b = "지난 주 등록한 신규 회원은 %s입니다." %"김서울"

In [44]:
b

'지난 주 등록한 신규 회원은 김서울입니다.'

c. 변수 대입

In [46]:
number = 10
"I went to the gym %d times last week" % number

'I went to the gym 10 times last week'

d. 여러개의 값 넣기

In [47]:
name = "공유"
month = 12
date = 31

"%s님께서 마지막으로 결제한 일자는 %d월 %d일입니다" % (name,month,date)

'공유님께서 마지막으로 결제한 일자는 12월 31일입니다'

c. Literal %을 써야할 때.

In [48]:
"올해 예상 매출액증가율은 %d%이다" %30

TypeError: not enough arguments for format string

In [49]:
"올해 예상 매출액증가율은 %d%%이다" %30

'올해 예상 매출액증가율은 30%이다'

### 4. 포맷 코드와 숫자 함께 사용하기

기타 정렬 표현들

a. 정렬과 공백

길이가 n개인 문자열 공간에서 특정 문자열을 정렬하고 공백넣기. 

예1. 공백 + "  world" 오른쪽 정렬

In [51]:
"%10s" % "world"

'     world'

예2. 공백 + "world" 왼쪽 정렬

In [53]:
"%-6s" % "world"

'world '

In [54]:
"%-3sjane." % 'hi'

'hi jane.'

b. 소수점 표현하기

예 1. 원하는 자리까지만 표현하기

In [55]:
"%0.4f" % 0.7883943

'0.7884'

예 2.전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬

In [56]:
"%10.4f" % 0.7883943

'    0.7884'

## 5. Format() 함수

1. 숫자 대입

In [57]:
"I went to the gym {0} times".format(3)

'I went to the gym 3 times'

2. 문자열 대입

In [58]:
"I went to the gym {0} times".format("three")

'I went to the gym three times'

3. 변수 대입

In [60]:
number = 10

"I went to the gym {0} times".format(number)

'I went to the gym 10 times'

4. 2개 이상의 값 넣기

In [62]:
number = 3
friend = "Shawn Mendes"

"I went to the gym {0} times with {1} last week".format(number,friend)

'I went to the gym 3 times with Shawn Mendes last week'

5.이름으로 넣기

In [61]:
"I went to the gym {number} times with {friend} last week".format(number=10,friend="Shawn Mendes")
#이때 각 변수에 꼭 매칭하여 지정해줘야한다.

'I went to the gym 10 times with Shawn Mendes last week'

## 6.  문자열 관련 내장함수

#### a. count(a)

문자열 중 문자 a(예시)의 개수를 반환한다.

In [63]:
a = "missisipi"
a.count('s')

3

#### b. find(a)

문자열 중 a가 처음으로 나오는 위치를 알려준다. 찾는 문자열이 없을 경우 -1을 반환한다. 순서와 위치는 인덱싱 규칙을 따르므로 0부터 시작한다.

In [64]:
a = "python"

In [65]:
a.find('p')

0

In [66]:
a.find('b')

-1

#### c. index(a)

find()와 마찬가지로 문자a가 처음 나온 위치를 반환한다.
찾는 문자나 문자열이 존재하지 않는다면 오류를 반환한다.(이 점이 find()함수와의 차이점)

In [67]:
a.index('t')

2

In [68]:
a.index(b)

ValueError: substring not found

#### d. join()
문자열 사이에 문자를 삽입할 때 쓰는 함수이다.

In [70]:
" ".join('python')

'p y t h o n'

이후 단원에서 다룰 내용이긴 하나, 리스트에도 적용할 수 있음

In [71]:
",".join(['a','b','c','d'])

'a,b,c,d'

#### e. upper()

In [72]:
x = "hello"
x.upper()

'HELLO'

#### f. replace()

In [73]:
x = "Life is too short"
x.replace("short", "long")

'Life is too long'

#### g. split()

In [74]:
x.split()

['Life', 'is', 'too', 'short']

In [75]:
y = "1:2:3:4"
y.split(":") #List는 다음장에서

['1', '2', '3', '4']

## 실습

실습 1. 

실습에 쓸 파일의 이름을 다음과 같이 concatenate해버렸다. 슬라이싱을 이용하여 날짜, 진도(Week3), 파일유형(Note)으로 구분하고 새 변수에 지정해보세요. (슬라이싱한 것도 각각 변수에 정의하여 나누어보세요)

a = "20190221Week2Note"

In [ ]:
#실습 1.

실습 2.

<img src = "">

2-1. 무민의 주민등록번호는 790708-1849231이다. 무민의 주민번호를 연월일(YYMMDD) 부분과 뒤 나머지 부분으로 나누어 출력해보세요

2-2. 무민의 주민등록번호에서 성별을 나타내는 숫자의 인덱스를 출력해보세요.

In [ ]:
#실습 2-1

In [ ]:
#실습 2-2

실습3. 

아래 {}를 format함수 안에 지정된 인덱스 항목 및 변수를 참고하여 고쳐보세요

In [ ]:
"I went to the gym {a} times with {b} last week".format(3, friend = "Tom")

실습 4. 

주어진 문자열에 대해 필요한 함수를 써보세요. 

4-1. "A:Journal:of:Experimental:Psychology"를 "A Journal of Experimental Psychology"로 바꾸세요.

4-2. 다음은 논문의 한 구절입니다. 여기서 "T1"이란 단어와 "T2"란 단어가 얼마나 자주나오는지 찾아보세요. 그런 다음, "T1"을 "Target1"으로, "T2"를 "Target2"로 바꾼 다음 다시 출력해보세요. 그리고 잘 바뀌었는지 확인해보세요. 

"""

A recent article in the Psychonomic Society’s journal Attention, Perception, & Psychophysics explored the mechanisms underlying this spreading of sparing to positions beyond lag 1. Researchers Manuel Petrucci and Anna Pecchinenda departed from the observation in the literature that performance on T1 is better when it is an emotional stimulus—such as an emotional word or face—than when it is neutral. An emotional T1 also magnifies the attentional blink by further reducing detection performance on T2. Conversely, if T2 is itself an emotional stimulus, the attentional blink is reduced. Both of these findings are readily explained within a “limited-resource” account on which an emotional word attracts additional attention that is then unavailable for processing elsewhere. On the resource account, processing of a negatively-valenced T1 should consume additional attention that boosts T1 performance but to the detriment of both T2 and T3. By contrast, if resource-limitations are not the driving factor underlying the attentional blink, then the fact that all three targets are identified by the same color might enable them to be subsumed within the same attentional episode, thus sparing them from the attentional blink. Indeed, performance on T2 and T3 might even be enhanced on this account if T1 is an emotional word because it leads to particularly vigorous processing of the attentional episode. The results confirmed that the negatively-valenced T1 was detected with significantly greater accuracy than the neutral T1, although the difference was slight (88.3% vs. 86.5%). This confirms that the valence manipulation was successful and it is what would be expected under either account. The more intriguing outcome is shown in the next figure which plots performance on T3 conditional on correct report of T1 and T2.

"""

In [ ]:
#실습 4-1

In [3]:
#실습 4-2