## W 4 
## List, Tuple, Dictionary, Set.

# I. List

## 1. List 소개 

파이썬의 자료구조 형태 중 하나로 값을 나열하는 것을 List(리스트)라고 함.

List는 다음과 같이 쓴다. 

    리스트 이름 (변수이름) = [요소1, 요소2,...]
    

예를 들어, 1부터 10까지의 홀수의 모음을 나타내면 다음과 같다. 

    odd = [1,3,5,7,19]
    
리스트는 그 외에도 다양하게 응용 가능하다. (아래 참조)

In [ ]:
x = [] #비어있는 리스트 1
x = list() #비어있는 리스트 2
y = [3,5,10] #숫자형 요소로 구성된 리스트 
z = ['my','name','is','Yoon'] #문자형 요소로 구성된 리스트 
a = [1,2,'my','name'] #숫자와 문자형 둘다 가질 수 있음
b = [1,2,['my','name']] #list안에 list포함시키기

## 2. List 인덱싱

문자열처럼 인덱싱과 슬라이싱이 가능함.

In [1]:
mylist = [1,2,3,4,5]
mylist

[1, 2, 3, 4, 5]

In [2]:
mylist[0] #mylist (list)의 첫 번째 요소 값

1

In [3]:
mylist[0] + mylist[3] #mylist의 첫 번째와 4번째 요소 값을 더한 것

5

In [4]:
mylist[-1] #마지막 요소 값

5

## 3. 이중(또는 다중) 리스트

a. 리스트 안의 요소 추출

리스트 안의 일부 문자만 뽑고 싶을때 인덱싱하는 방법 

``` python 

리스트명[해당sublist인덱스][해당요소인덱스]
listname[0][0]

```

In [7]:
b = [1,2,['my','name']] 
b[2][0]

'my'

## 4. 리스트 슬라이싱

문자열과 마찬가지 방법으로 리스트도 슬라이싱할 수 있다.

In [8]:
mycafe = ["starbucks","ediya","twosomeplace","hollys"]

In [9]:
mycafe[0:2]

['starbucks', 'ediya']

In [10]:
mycafe[:2] #처음부터 2번째 요소인 mycafe[1]까지 나타내는 리스트

['starbucks', 'ediya']

In [11]:
mycafe[2:] #리스트의 3번째 요소 (mylist[2])부터 끝까지 나타내는 리스트

['twosomeplace', 'hollys']

### 1. 
아래와 같이 리스트 안에 리스트가 있는 형태의 리스트 변수(multiple)가 있다.

    multiple = [1,2,3,['my','name','is','Yoon']]

위 multiple 리스트 변수의 1번째, 2번째, 3번째 값을 반환해보세요

In [14]:
multiple = [1,2,3,['my','name','is','Yoon']]

In [16]:
print(multiple[0])
print(multiple[1])
print(multiple[-1],multiple[0])

1
2
['my', 'name', 'is', 'Yoon'] 1

#### 2. 

list 변수 'multiple' 안의 'Yoon'만 추출해보세요. 

     multiple = [1,2,3,['my','name','is','Yoon']]

In [17]:
multiple[-1][-1]

'Yoon'

### 3. 

아래와 같이 생긴 리스트('cafe')가 있을때, Starbucks만 추출하고싶다면 어떻게 인덱싱을해야할까?

    cafe = ["seoul", "daejeon", [100, 120, ["Ediya", "Starbucks"]]]

In [19]:
cafe = ["seoul", "daejeon", [100, 120, ["Ediya", "Starbucks"]]]
cafe[-1][-1][-1]

'Starbucks'

### 4.

중첩된 리스트도 슬라이싱해보자. 문자열과 일반 리스트 슬라이싱 방법과 동일하다. 

아래 리스트(myplace)를 도시명(Houston, Chicago)와 우편번호(5자리 숫자코드)별로 슬라이싱해보세요. 

    myplace = ["TX", ['Houston', 'Chicago'], "30181", "US"]

In [24]:
#실습

myplace = ["TX", ['Houston', 'Chicago'], "30181", "US"]

#mycity = myplace[1]

mycode = myplace[2]

mycode

'30181'

# II. Tuple

Tuple 자료형은 List와 비슷하다. 

두 자료형의 차이점은, 

1) List는 요소를 유동적으로 변경할 수 있으나, Tuple은 요소를 바꿀 수 없다는 점이다.  
2) List는 "[]" 중괄호를, Tuple은 "()" 괄호를 사용한다.

### 1. Tuple 생성

Tuple은 다음과 같이 쓴다.

In [ ]:
t1 = () #비어있는 튜플

In [ ]:
t2 = (1,) #요소가 1개일때는 ","를 써야함

In [ ]:
t3 = (1,2,3) #생성 방법1

In [ ]:
t4 = 1,2,3 #생성 방법2 - 괄호 생략도 가능

In [ ]:
t5 = ('a','b',('ab','cd')) #Tuple을 요소로 가질 수 있음

### 2. Tuple 인덱싱 및 슬라이싱

List, String처럼 인덱싱, 슬라이싱 가능함.

a. 인덱싱

In [25]:
t1 = (1, 2, 'a','b')

In [26]:
t1[0]

1

In [27]:
t1[-1]

'b'

b. 슬라이싱

In [28]:
t1[1:]

(2, 'a', 'b')

### 3. Tuple 연산

In [29]:
t1 = (1, 2, 'a','b')

In [30]:
t2 = (3, 4)

a. 더하기

In [32]:
t1 + t2

(1, 2, 'a', 'b', 3, 4)

b. 곱하기

In [33]:
t2 * 3 #여기서 곱하기는 반복을 뜻함

(3, 4, 3, 4, 3, 4)

c. 길이 구하기

In [35]:
len(t2)

2

### 4. Tuple 요소 바꾸기/삭제하기

a. Tuple 안에 있는 요소를 삭제하려고하면 어떻게 될까?

In [36]:
asia = ('korea','china','japan','greece')
#앗, 4번째 요소는 잘못되었다. 없앨 수 있을까?

In [37]:
del asia[3]

TypeError: 'tuple' object doesn't support item deletion

b. Tuple 안에 있는 요소를 대체하려고 하면 어떻게 될까?

In [38]:
asia

('korea', 'china', 'japan', 'greece')

In [39]:
asia[3] = 'india'

TypeError: 'tuple' object does not support item assignment

### 5. Tuple Methods

count()

In [43]:
cap_ohio = ('c','i','n','c','i','n','n','a','t','i')

In [44]:
print(cap_ohio.count('n')) #찾는 자료의 개수를 반환

3

index(t)

In [45]:
print(cap_ohio.index('i')) #찾는 자료의 인덱스를 반환

1

In [49]:
mytuple = (1,2,3,"me","you")
#print(mytuple[0])
#print(mytuple[-1])
#print(mytuple*5)
#mytuple[1] = "green tea"
mytuple.index("me")

3

# III. Dictionary

### 1. Dictionary 생성

딕셔너리(Dictionary)란 정렬되지 않은 항목의 모음이다. 다른 자료형의 경우 , 인자값(value)만 요소로 가지지만 (예: List), Dictionary는 Key:Value(키:인자값)의 쌍을 값으로 가진다. 

즉, 원하는 Value가 Key를 가지고있고, 이를 알고있을 경우, 값을 검색할 수 있게 해준다. 

예를 들어, 어떤 사람은 "이름 = 김서울", "나이 = 54세", "성별 = 여자" 등으로 구분할 수 있듯이 이렇게 대응 관계를 나타내는 자료형을 연관 배열 (Associative arry) 또는 해시(Hash)라고도 부른다.

파이썬에서 이러한 연관 배열을 가진 자료형을 Dictionary라고 한다. 위의 예의 경우 이름이 Key, "김서울"이 Value가 되듯이 한 쌍을 이루는 자료형을 일컫는다. 

딕셔너리는 List나 Tuple같이 순서에 얽매이지 않고 오로지 Key를 통해 Value를 얻는 것이 특징이다. 즉, "이름"에 해당하는 값을 탐색하기위해 딕셔너리에 할당된 모든 단어들을 순차적으로 탐색하지 않고, "이름"이라는 key만 검색하여 보는 것이다. (사전과 같은 원리이다).

### 2.  Dictionary 만들기

Dictionary는 다음과 같이 쓴다.

my_dict = {Key1:Value1, Key2:Value2, Key3:Value3}

In [ ]:
my_dict = {} #비어있는 dictionary

In [ ]:
my_dict = {1:'apple', 2:'ball'} #정수형 키

In [ ]:
my_dict = {'name':'John', 1:[2,4,3]}

In [ ]:
my_dict = dict({1:'apple', 2:'ball'}) #dict()으로도 표현 가능

In [ ]:
my_dict = dict([(1,'apple'), (2,'ball')]) #from sequence having each item as a pair?

예를 들면 다음과 같은 dictionary를 만들 수 있다. 

    어떤 시험 과목의 응시자에 대한 정보를 각각 Key와 값을 할당했다. 이름, 나이, 듣기와 쓰기 두 과목에 대한 점수의 모음을 다음과 같이 Key에 할당할 수 있다. 

    sample_dic = {'name':'Jay', 'age':48, 'score':[70, 100]}
    
위에서 'name', 'age', 'score'는 Key이고, 각 Key에 해당하는 Value는 'Jay', '48', '[70,100]'이 된다.

위와 같이 dictionary의 value에는 숫자형, 문자형, 리스트 자료형을 쓸 수 있다.  Key 값에는 숫자, 문자를 쓸 수 있지만 리스트는 쓸 수 없다.

### 3. 요소(key:value) 추가/삭제하기.

아래와 같은 dictionary를 생성해보기

```
    mycafe = {'name':'Starbucks', 'menu':'Americano','price':3800,'last_visit':[2,22]}

```
name = 카페 이름(문자열) |
menu = 메뉴 이름(문자열) |
price = 가격(정수) |
last_visit = 마지막으로 방문한 일자: 월, 일(리스트) |

In [52]:
mycafe = {'name':'Starbucks'} #요소 추가 방법 1

In [59]:
mycafe

{'last_visit': [2, 22],
 'menu': 'Americano',
 'name': 'Starbucks',
 'price': 3800,
 'prince': 3800}

In [54]:
mycafe['menu'] = 'Americano' #요소 추가 방법 2

In [56]:
mycafe['price'] = 3800
mycafe['last_visit'] = [2,22]

In [58]:
mycafe['prince'] = 3800 #앗 오타. del을 써서 아래 셀에서 지워보자

In [60]:
del mycafe['prince']

In [61]:
mycafe #확인

{'last_visit': [2, 22],
 'menu': 'Americano',
 'name': 'Starbucks',
 'price': 3800}

### 4. 각 key에 대한 value 얻기

    dict_name[Key]

String, List, Tuple의 경우 인덱싱이나 슬라이싱을 통해 값을 호출했으나 Dictionary에서는 Key만을 사용하여 값을 호출한다.

In [67]:
#위에서 만든 'mycafe' dictionary  사용- 

mycafe = {'name':'Starbucks', 'menu':'Americano', 
          'price':3800, 'last_visit':[2,22]}
mycafe

{'last_visit': [2, 22],
 'menu': 'Americano',
 'name': 'Starbucks',
 'price': 3800}

In [97]:
mycafe['name']

'Starbucks'

In [64]:
mycafe['last_visit']

[2, 22]

In [65]:
mycafe[1]
#indexing은 사용하지 못함 = 오류

KeyError: 1

예외:
Key 또는 Value가 정수일 경우 다음과 같이 써도 (인덱싱 처럼 보이지만) 사실 각 key에 해당하는 value이다. **헷갈림 주의**

In [68]:
mycafe1 = {1:'Starbucks', 2:'aTwosomePlace'}
mycafe1[1] #2번째가 아닌, 1이란 Key에 해당하는 value를 호출

'Starbucks'

### 5. Python dictionary methods

다음은 dictionary와 관련된 (내장)함수들이다. 

```

clear() : dictionary의 모든 요소를 지운다. 

copy() : dictionary를 복사

keys() : dictionary의 key만 모아서 dict_keys라는 object를 생성해줌

values(): dictionary의 values만 얻고 싶을 때 dict_values라는 object를 생성해줌. 

items(): dictionary의 요소 (Key:Value) 모두 호출

clear(): dictionary의 요소 (Key:Value)를 통째로 지움.

get(): Key로 value를 얻고싶을 때 사용

in(): 해당 dictionary 내 Key 검색 

```

keys()

In [69]:
mycafe = {'name':'Starbucks', 'menu':'Americano', 
          'price':3800, 'last_visit':[2,22]}
mycafe.keys()

dict_keys(['name', 'last_visit', 'menu', 'price'])

In [75]:
mycafe_list = list(mycafe.keys()) #list로도 변환 가능

In [74]:
mycafe_list[0]

'name'

In [72]:
for my in mycafe.keys():
    print(my) #for문에서도 사용 가능.

name
last_visit
menu
price

values()

In [76]:
mycafe.values()

dict_values(['Starbucks', [2, 22], 'Americano', 3800])

items()

In [77]:
mycafe.items()
#key와 value의 쌍을 튜플로 묶은 값으로 이루어진 리스트 형태의 dict_items 객체를 반환해줌

dict_items([('name', 'Starbucks'), ('last_visit', [2, 22]), ('menu', 'Americano'), ('price', 3800)])

clear()

In [82]:
mycafe.clear()

In [83]:
mycafe

{}

get()

In [79]:
#get('key')는 앞서 보았던 mycafe['key']와 동일한 기능을 한다.
#print(mycafe.get('name'))
print(mycafe.get('price'),mycafe.get('last_visit'))

3800 [2, 22]

in()

In [80]:
#앞서 정의한 dictionary에 'key이름'이 있는지 확인함 
#맞는 key를 찾을 경우 True가 나옴
'name' in mycafe

True

In [81]:
#없는 key를 찾을 경우, False가 나옴
'location' in mycafe

False

In [ ]:
#원하는 만큼 여기에 또는 새 노트에 셀을 만들어 실습해보세요- 셀 추가는 shift+Enter 또는 Esc + B 입니다.

In [96]:
mycafe = {'name':'Starbucks', 'menu':'Americano', 
          'price':3800, 'last_visit':[2,22]}

mycafe

#mycafe_list_1 = list(mycafe.values())
#mycafe_list_2 = list(mycafe.values())
#mycafe['last_visit'][0]
#print(mycafe_list_1)
#print(mycafe_list_2)
#mycafe_list_3 = list(mycafe.values())
#print(mycafe_list_3)

{'last_visit': [2, 22],
 'menu': 'Americano',
 'name': 'Starbucks',
 'price': 3800}

# IV. Set

set는 집합 자료형이다. 순서에 얽매이지 않으며 집합에 관련된 자료를 쉽게 처리하기 위해 만들어짐.

### 1. Set 생성

set는 다음과 같이 쓴다. 

    1. set_name = set(요소 1, 요소 2..)

    2. set_name = {요소 1, 요소 2...}

In [98]:
last_names = set(["lee","kim","jeong"])
last_names

{'jeong', 'kim', 'lee'}

In [99]:
{"lee","kim","jeong"}

{'jeong', 'kim', 'lee'}

### 2. Set 특징

set는 두 가지 특징을 가진다. 

1) 중복을 허용하지 않음

2) 순서가 없음 (unorderd) = 즉, 인덱싱을 지원하지 않음

특히 중복을 허용하지 않는 점 때문에 다루고자 하는 자료에서 중복을 제거하고 필요한 자료만 추출하고 싶을 때 유용하게 쓰임

In [100]:
#특징 1. 중복을 허용하지 않는다
hello = set("Hello")
hello

{'H', 'e', 'l', 'o'}

In [101]:
#특징 2. 순서가 없어서 인덱싱을 지원하지 않음
hello[0]

TypeError: 'set' object does not support indexing

In [102]:
#특징 2-1. 인덱싱을 사용하고 싶으면, 가능한 자료형으로 변환 후 사용해야함. 

hello = set("Hello")

#1. 리스트 

hello_list = list(hello)
print(hello_list)

#2. 튜플

hello_tuple = tuple(hello)
print(hello_tuple)

#3.indexing

print(hello_list[0])
print(hello_tuple[0])

['e', 'H', 'o', 'l']
('e', 'H', 'o', 'l')
e
e

### 3. 집합 연산

set는 집합의 연산처럼 연산이 가능함. (교집합, 합집합, 차집합)

In [103]:
#다음과 같은 2개의 집합이 있다고 가정하자. 

set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

1. 교집합

In [104]:
set1 & set2 # 방법 1: &을 이용

{3, 4, 5}

In [105]:
set1.intersection(set2) #방법 2: intersection()을 이용

{3, 4, 5}

2. 합집합

In [106]:
set1 | set2 #방법 1: |을 이용, 윈도우의 경우 원화 기호로 나옴

{1, 2, 3, 4, 5, 6, 7}

In [107]:
set1.union(set2) #방법 2: union()을 이용

{1, 2, 3, 4, 5, 6, 7}

3. 차집합

In [108]:
set1 - set2 #방법1: - 을 이용

{1, 2}

In [109]:
set2 - set1

{6, 7}

In [110]:
set1.difference(set2) #difference()를 이용

{1, 2}

### 4. Set 관련 함수들

다음은 set과 관련된 (내장)함수들이다. 

```
add() : set에 값(요소) 1개 추가
update(): set 값(요소) 여러 개 추가
remove(): 특정 값(요소) 제거
```

In [111]:
myset = {1,2,3,4,5}

1. add()

In [112]:
myset.add(6)
myset

{1, 2, 3, 4, 5, 6}

2.update()

In [113]:
myset.update([7,8,9])
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

3.remove()

In [114]:
myset.remove(9)
myset

{1, 2, 3, 4, 5, 6, 7, 8}

# V. Booleen (Bool)

컴퓨터가 무엇이 옳고 틀린지 판단하려면 무엇이 '참'인지 '거짓'인지를 의미하는 데이터가 필요함. 

Boolean 자료형 : 참(True)과 거짓(False)을 나타내는 자료형

파이썬에서는 ```True``` 로 참을 나타내고,``` False ```로 거짓을 나타낸다. 

Boolean은 줄여서 Bool이라고하며, 참과 거짓, 두가지 값만 가질 수 있다.

### 1. Bool 생성

Bool 자료형은 다음과 같이 쓴다.

In [115]:
#True, False의 첫글자는 대문자로 써야함
a = True 
b = False

Bool 자료형은 조건문의 리턴값으로도 사용된다. 
<<미리보기>>

In [117]:
a == a #a와 a가 같은지를 묻는 조건문

True

In [118]:
100 > 99

True

In [119]:
100 > 100

False

### 2. 자료형의 참과 거짓

In [120]:
bool("a") #문자형 True

True

In [121]:
bool("") #빈 문자형은 False

False

In [122]:
bool(["starbucks","aTwosomePlace"]) #요소가 있는 List는 참

True

In [123]:
bool([]) #비어있는 List는 거짓

False

In [124]:
bool({})

False

In [125]:
bool(1)

True

In [126]:
bool(0)

False

In [127]:
bool(None)

False

In [128]:
bool(10<20 and 0) #둘다 참이어야 True

False

In [131]:
bool(False or 1) #둘 중 하나만 참이면 True

True

### 실습

### 튜플 실습 

1. 최소 5개 요소를 가진 Tuple 하나를 만드세요. (최소 문자형, 숫자형 1개씩)
2. Tuple의 첫번째 요소를 출력하세요
3. Tuple의 마지막 요소를 출력하세요. 
4. Tuple을 5번 반복하여 출력하세요

### 리스트 실습

1. ‘문자열’, ‘숫자형’, ‘리스트’ 자료형이 최소 한개씩 포함된 5개 요소가 포함된 dictionary를 만들어보세요  (key와 value는 자유롭게~)

2.  key:value 한 쌍을 호출하세요.  

3. Key:value 한 쌍을 지우세요. 

4. key만 출력하세요.

5. value만 출력하세요. 

6. list형태로 바꾼 후 출력하세요. 

7. For 문 형태로 바꾸어 출력하세요.

8. key와 value의 쌍을 튜플로 묶은 값으로 호출하세요.

### Set 실습

1. 다음 요소를 포함한 세트 하나를 만들어보세요. 
        45, 62, 24, 22, 110
2. 다음 요소를 포함한 세트 하나 더 만들어보세요. 
        52, 25, 45, 110, 111
3. 세트 1과 세트 2의 교집합을 구하세요. 
4. 세트 1과 세트 2의 합집합을 구하세요. 
5. 세트 1과 세트 2의 차집합을 구하세요. 
6. 세트 1에 원소 “220”을 추가하세요. (숫자형)
7. 세트 2에 원소 “[220, 221, 222]”를 추가하세요. (리스트)
8. 두 개의 세트 모두 인덱싱을 만들 수 있게 만들어보세요. 
9.  세트 2의 2번째(인덱싱) 원소를 출력해보세요.